<app-header></app-header>

<section class="products">
    <div class="breadcun"> </div>
    <div class="tvalcoves_list productList">
        <div class="container">
        
            <div *ngIf ="productsListarray">
                <ul class="row" >   
                
                    <li class="col-sm-6 col-md-6 col-xs-4 col-xl-4" *ngFor = "let productsListarray__ of productsListarray">                   
                        <a [routerLink]="['/kitchensdetais',productsListarray__.products_cat,productsListarray__.id]">
                            <div class="img">
                                <figure>
                                    <img src="http://localhost/peterbernard_ci/uploads/{{productsListarray__.product_image}}">
                                </figure>
                            </div>                       
                            <div class="tvalcoves_content">
                                <h2>{{productsListarray__.product_title}}</h2>
                                <p>{{productsListarray__.product_desc}}</p>
                            </div>
                        </a>                                                               
                    </li>             
                </ul>  
            </div>                       
          <div *ngIf = "noproducts">
              <p>No products found</p>
          </div>
        
           
          
            
        </div>
       
    </div>
   
</section>


<app-footer></app-footer>
