<footer id="site-footer" role="contentinfo" class="header-footer-group mainFooter">
    <section class="copyright"> 
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="footer_left">	
                        <nav class="menu_footer">
                            <ul id="menu-footer-menu" class="footer-menu">
                                
                                <li><a [routerLink]="['/']" routerLinkActive="active">Home</a></li>
                                <li><a [routerLink]="'/tvalcoves'" routerLinkActive="active">Tv & Alcoves</a></li>
                                <li><a href="#">Accessories</a></li>
                                <li><a href="#">How We Work</a></li>
                                <li><a href="#">In The Media</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Contact</a></li>
                                
                                    
                            </ul>        
                        </nav>           
                        <p>© 2021 peterbernard. All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="footer_right">
                        <p>Designed by : <a href="#" target="_blank">eClick Softwares & Solutions Pvt. Ltd.</a></p>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
</footer><!-- #site-footer -->
